<html>
  <head>
    <title>Twitter client in React</title>
    <link rel="stylesheet" href="./static/css/bootstrap.css">
    <script src="./static/js/react-0.12.2.js"></script>
    <script src="./static/js/JSXTransformer-0.12.2.js"></script>
    <script src="./static/js/jquery-1.10.0.min.js"></script>
    <script type="text/jsx" src="./static/js/bootstrap.js"></script>
    <!--<script type="text/jsx" src="./static/js/tuts.js"></script> -->
    <script type="text/jsx" src="./static/js/tweet-react.js"></script>
  </head>
    <body>
        <div id="content"></div>
        
        <!-- <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <h3 style="color:white;" class="col-lg-offset-5">Twitter</h3>
          </div>
        </nav> -->
        <!-- <div class="container-fluid" style="margin-right:1%; margin-top:5%">
            <div class="row">
                <div class="panel panel-info col-lg-6 col-lg-offset-6">
                    <div class="panel-body">
                        <input type="text" name="search_term" class="col-lg-3 form-control" placeholder="Search with keywords/hashtags"/>
                        <div class="col-lg-4" id="search-results">
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </body>
</html>